.product-card {
  transition: transform 0.3s ease;
  border-radius: 0;
  border: none !important;
  box-shadow: none !important;
  overflow: hidden;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.card-img-top {
  background-color: #f9f9f9;
  transition: transform 0.2s ease-in;
}

.card-img-top:hover {
  transform: scale(1.05);
}

.img-wrapper {
  overflow: hidden;
}
