.img-wrapper {
  background-color: #f9f9f9;
  object-fit: contain;
}

.img-wrapper img {
  max-height: 500px;
  object-fit: contain;
  width: 100%;
}

strong {
  color: rgba(0, 0, 0, 0.5);
}

.col-6 p {
  border-bottom: 1px solid rgba(183, 174, 174, 0.427);
  display: flex;
  gap: 20px;
  padding-block: 5px;
}

.btn {
  width: 30%;
  padding: 14px;
}
