.book-btn {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
  font-size: 1.05rem;
  font-weight: 600;
  transition: all 0.3s ease;
  padding: 12px 24px;
  width: auto;
  max-width: 250px;
}

@media (min-width: 767.98px) {
  .book-btn {
    padding: 1rem 2rem !important;
    width: 100%;
  }
}
.book-btn:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.img-wrapper {
  padding-block: 19px;
}
.logo-img {
  max-width: 250px;
  height: auto;
  object-fit: contain;
  flex-shrink: 1;
  opacity: 0.8;
}

.store-right {
  width: 45%;
}

.second-p {
  margin-top: -27px;
  margin-left: -3px;
}

.gallery-container {
  position: relative;
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  transition: all 0.3s ease;
}

.scroll-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.left-scroll-btn {
  left: 10px;
}

.right-scroll-btn {
  right: 10px;
}

.gallery-scroll-container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 20px;
  margin-top: 20px;
  height: 350px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overscroll-behavior-x: none;
  pointer-events: none;
}

.gallery-scroll-container::-webkit-scrollbar {
  display: none;
}

.collection-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-shrink: 0;
  height: 100%;
}
.collection {
  width: 300px;
  height: 450px;
  object-fit: cover;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.collection:hover {
  transform: scale(1.05);
  overflow: hidden;
}

.collection-name {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  color: #333;
  padding-left: 5px;
}

.underline {
  border: 1px solid black;
  width: 100%;
  margin: 10px 0;
}

.gallery-scroll-container img {
  pointer-events: auto;
}

.learn-btn {
  padding: 15px;
  padding-inline: 20px;
  border-radius: 10px;
  backdrop-filter: blur(0px);
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.774);
  color: #fff;
  transition: all 0.3s ease;
  width: 40%;
}
.learn-btn:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.learn-btn-white {
  padding: 15px;
  padding-inline: 20px;
  border-radius: 10px;
  backdrop-filter: blur(0px);
  background-color: rgba(255, 255, 255, 0.071);
  border: 1px solid rgba(0, 0, 0, 0.774);
  color: black;
  transition: all 0.3s ease;
  width: 40%;
}

.learn-btn-white:hover {
  background-color: rgba(119, 117, 117, 0.274);
  color: black;
}

@media (max-width: 576px) {
  .fs-2 {
    font-size: 1.45rem !important;
  }
  .fs-5 {
    font-size: 1rem !important;
  }
  .fs-6 {
    font-size: 0.9rem !important;
  }
  .gap-5 {
    gap: 1.25rem !important;
  }
}
