.hero {
  background-color: #f1f1f1;
}
.no-bullets {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.543);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.no-bullets li a {
  color: inherit;
  text-decoration: none;
}
.no-bullets li a:hover {
  color: inherit;
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.678);
}

.social-icons a {
  color: #a09279;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 6px;
  transition: transform 0.3s ease;
  font-size: 1.5rem;
}

.social-icons a:hover {
  color: #a09279;
  transform: scale(1.2);
}
