.hero {
  background-color: #f5f4fe;
  margin-top: 70px;
}

table {
  border-collapse: separate !important;
  border-spacing: 0px 20px !important;
}

th,
td {
  background-color: #fcfcfc;
  padding: 20px 12px !important;
  text-align: center;
  vertical-align: middle;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  color: #222 !important;
}

thead th {
  background-color: #fcfcfc;
  color: #555;
  font-weight: 600;
  border: none;
  box-shadow: none;
}

td img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}

tbody tr {
  overflow: hidden;
}

tbody tr td:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

tbody tr td:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

thead th:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

thead th:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
